@use '../util' as *;

.container {
    padding: 0 rem(25);
    max-width: rem(1110);
    margin: 0 auto;
    height: 100vh;
    @include flex-center;
    border: 1px solid black;
    background-color: var(--cream);

    @include breakpoint(large) {
        max-width: 100vw;
    }
}

// body {}

.product-card {
    background-color: var(--white);
}