@use '../util' as *;
@use '../globals' as *;

.product-card {
    // padding: rem(10);
    max-width: rem(500);
    border-radius: $border-radius;
    overflow: hidden;

    @include breakpoint(medium) {
        display: flex;
        max-width: rem(600);
        max-height: rem(500);
    }

    @include breakpoint(large) {
        display: flex;
        max-width: rem(700);
        min-height: rem(500);
    }

    &__image {
        @include breakpoint(large) {
            background-image: url('/images/image-product-desktop.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            flex: 1;

            img {
                display: none;
                flex: 1;
            }
        }

        @include breakpoint(medium) {
            background-image: url('/images/image-product-desktop.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            flex: 1;

            img {
                display: none;
                flex: 1;
            }
        }
    }

    &__tag {
        font-family: var(--font-montserrat);
        font-weight: var(--montserrat-500);
        text-transform: uppercase;
        font-size: 0.75rem;
        font-size: clamp(0.75rem, 0.625rem + 0.625vw, 0.875rem);
        letter-spacing: rem(5);
        color: $grey;
    }

    &__title {
        font-family: var(--font-fraunces);
        font-weight: var(--fraunces-700);
        font-size: 1.125rem;
        font-size: clamp(1.125rem, 0.5rem + 3.125vw, 1.75rem);
        color: $black;
    }

    &__description {
        font-family: var(--font-montserrat);
        font-weight: var(--montserrat-500);
        font-size: 0.75rem;
        font-size: clamp(0.75rem, 0.5rem + 1.25vw, 1rem);
        color: $grey;
    }

    &__discounted {
        font-family: var(--font-fraunces);
        font-weight: var(--fraunces-700);
        font-size: 1rem;
        font-size: clamp(1rem, 0.25rem + 3.75vw, 1.75rem);
        color: $green-500;
    }

    &__original {
        font-family: var(--font-montserrat);
        font-weight: var(--montserrat-500);
        font-size: 0.75rem;
        font-size: clamp(0.75rem, 0.625rem + 0.625vw, 0.875rem);
        color: $grey;
    }

    &__button {
        font-family: var(--font-montserrat);
        font-weight: var(--montserrat-700);
        font-size: rem(16);
        color: $white;
        background-color: $green-500;
        @include flex-center;
        gap: rem(16);
        padding: rem(16);
        border-radius: $border-radius;
        border: none;

        &:hover {
            background-color: $green-700;
        }
    }

    &__button-icon {
        color: $white;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: rem(40);
        padding: rem(25);
        flex: 1;

        @include breakpoint(large) {
            justify-content: flex-start;
        }
    }

    &__price {
        @include flex-center;
        justify-content: flex-start;
        gap: rem(16);

        @include breakpoint(large) {
            gap: rem(32);
        }
    }
}